// src/styles/login.scss

$background-image: url('../../assets/images/restaurant-background.webp');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; /* Prevent vertical scroll */
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Move background behind content */
  background: $background-image center/cover;
}

.login-container {
  display: flex;
  justify-content: flex-start; /* Align to the left */
  height: 100vh;
}

.card-container {
  width: 380px; /* Adjust width as needed */
  height: 480px;
  margin: (7% 10% 5% 8%);
  text-align: center;
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .login-container {
    align-items: center;
  }

  .card-container {
    width: 90%;
  }
}