.sidebarContainer {
  background: linear-gradient(to right, #6684e6, #86a9ef);
  height: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .logoContainer {
    height: 20%;
  }

  .Links {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    .icons {
      justify-content: space-evenly;
      display: grid;
      &.active {
        background-color: #090b2b;
        border-radius: 37px 0px 0px 37px;
        color: #f9c300;
        padding: 15%;
      }
    }
   
  }
}
