*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}


.app{
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #1E224F;

  .sidebar {
    flex: 1;
    background-color: #6876F0;
    padding: 20px;
  }

  .maincontainer {
    flex: 12;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .navbar{
      flex: 1;
    }

    .outlet{
      flex: 9;
     
    }

  }


  .rightSidebar{
    flex: 4;
  }
}