*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
}


.app{
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #090B2B;
  overflow-x: hidden !important;

  .sidebar {
    flex: 1;
    padding: 20px;
  }

  .maincontainer {
    flex: 12;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .navbar{
      flex: 1;
    }

    .outlet{
      flex: 9;
     
    }

  }
  .rightSidebar{
    flex: 4;
    padding: 20px;
  }
}